body{
  color: white;
  background-color: black;
  margin: 0px;
}

h1,h2{
  margin: 0px;
}

.deportista{
  width: 1200px;
  height: 600px;
}


.about {
  background-color: #7299fe;
  width: 1200px;
  height: 600px;
}

.skills {
  background-color: #9122ff;
  width: 1200px;
  height: 600px;
  align-items: center;
}
.portafolio {
  background-color: #ffd233;
  width: 1200px;
  height: 600px;
}
.clientes {
  background-color: #3f4e62;
  width: 1200px;
  height: 600px;
}
.contacto {
  background-color: #1687a0;
  width: 1200px;
  height: 600px;
}
.boton {
  color: white;
  width: 200px;
  height: 62px;
  background-color: #d16fff;
  border-radius: 2px;
  border: 2px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-skill{
  
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 500px;
  align-content: center;
  align-items: center;
  
}
.html{
  
  top: 120px;
  left: 100px;
  width: 250px;
  height: 100px;
  
  
  
}
.css{
  
  top: 0px;
  left: 400px;
  width: 250px;
  height: 100px;
  
}
.javascript{
  
  top: -50px;
  left: 100px;
  width: 250px;
  height: 100px;
  
}
.vue{
  
  bottom: 168px;
  left: 400px;
  width: 250px;
  height: 100px;
  
}
.flexbox{
  
  bottom: 200px;
  left: 100px;
  width: 250px;
  height: 100px;
  
}
.cssg{
  
  bottom: 319px;
  left: 400px;
  width: 200px;
  height: 100px;
  
}

.barra-blanca {
  position: absolute;
  height: 10px;
  width: 200px;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  
}
.barra-celeste {
  position: relative;
  top: -2px;
  left: -2px;
  height: 10px;
  width: 100px;
  background-color: #57eff9;
  border: 2px solid cyan;
  border-radius: 10px;
}
